<div>
  <h1 class="font-bold text-4xl">WorkoutPlans#show</h1>
  <div>
    <h2><%= @workout_plan.name %></h2>
    <% if @workout_plan.comment? %>
      <p><%= @workout_plan.comment %></p> 
    <% else %>
      <p>No comment added</p>
    <% end %>
  </div>
</div>
